.mainContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .mainContainer {
    gap: 16px;
  }
  .radioGroup {
    gap: 12px;
  }
}
