.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  padding: 0 16px 0 16px;
}

.content {
  height: calc(calc(var(--vh, 1vh) * 100) - var(--progressBarHeight) - 80px - var(--footerHeight));
}

.isHome.content {
  padding-top: 16px;
  height: calc(calc(var(--vh, 1vh) * 100) - 80px - var(--footerHeight));
}

.isQuiz.content {
  display: grid;
  max-width: 800px;
  height: calc(calc(var(--vh, 1vh) * 100) - 80px - var(--footerHeight));
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 100px 0px 100px;
  }
  .content {
    max-width: 1000px;
    display: grid;
    height: calc(
      calc(var(--vh, 1vh) * 100) - var(--progressBarHeight) - 80px - var(--footerHeight)
    );
    margin: 0 auto;
  }
}
