.navigationMenu {
  display: flex;
  gap: 16px;
  padding: 8px 0 16px 0;
  z-index: 2;
  position: relative;
}

.showTwoLeft {
  width: 66.6666%;
  margin-right: auto;
}

.showTwoRight {
  width: 66.6666%;
  margin-left: auto;
}

.menuList {
  list-style: none;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  color: #1f1f1f;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 17.6px */
  letter-spacing: -0.08px;
  width: 100%;
}

.menuItem.active {
  background-color: #203683;
  color: #d6ddf5;
  margin: 0 -16px;
  width: calc(100% + 32px);
  padding: 0 16px;
}

.menuItem a {
  padding: 16px 0px;
  width: 100%;
}

.credits {
  font-size: 12px;
  letter-spacing: -0.5px;
  padding: 0px 0px 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 1000px;
    margin: 0 auto;
  }
  .QuizNavigation {
    max-width: 800px;
  }
  .homeNavigationFooter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .homeNavigationMenu {
    width: 629px;
  }
  .homeMenuOpen {
    margin-left: auto;
  }
  .navigationMenu {
    gap: 32px;
  }
}
