.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: opacity 0.3s ease-in-out;
}

.overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

.bottomSheet {
  position: fixed;
  left: 50%;
  right: 50%;
  bottom: 0;
  background-color: #ffffff;
  padding: 16px;
  width: calc(100% - 16px - 16px);
  height: fit-content;
  min-height: 60px;
  max-height: calc(100vh - 68px - 32.5px);
  border-radius: 8px;
  box-sizing: border-box;
  transition: transform 0.3s ease-in-out;
  transform: translate(-50%, -100%);
  top: calc(100% - 68px - 16px);
  overflow-y: scroll;
}

.bottomSheet.hidden {
  transform: translate(-50%, 150%);
}

@media screen and (min-width: 768px) {
  .bottomSheet {
    max-width: 830px;
    height: 600px;
    margin:16px;
    top: calc( 600px + 100px );
    left: calc(50%);
  }
}
