.mainContainer {
  transition: all 0.3s ease-in-out;
  display: flex;
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid #fff;
  overflow: hidden;
  cursor: pointer;
}
.mainContainerSuccess {
  border: 1.5px solid #47b881;
}
.mainContainerSelected {
  transition: all 0.3s ease-in-out;
  background-color: #5469b1;
  border: 1.5px solid #ffffff;
}
.mainContainerError {
  border: 1.5px solid #f64c4c;
}
/* ********************************** */
.letterContainer {
  transition: all 0.3s ease-in-out;
  width: 43px;
  background-color: #fff;
  display: grid;
  place-content: center;
}
.letterContainerSuccess {
  background-color: #47b881;
}
.letterContainerSelected {
  background-color: #5469b1;
  border-right: 1.5px solid #ffffff;
}
.letterContainerError {
  background: #f64c4c;
}
/* ********************************** */

.letterContainer span {
  transition: color 0.3s ease-in-out;
  text-transform: uppercase;
  color: #16255a;
  font-size: 16px;
  font-weight: 600;
}
.letterContainerSuccess span {
  color: #fff;
}
.letterContainerSelected span {
  color: #fff;
}
.letterContainerError span {
  color: #fff;
}
/* ********************************** */

.textContainer {
  transition: all 0.3s ease-in-out;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.textContainerSuccess {
  background-color: rgba(71, 184, 129, 0.1);
}
.textContainerError {
  background-color: rgba(246, 76, 76, 0.1);
}
/* ********************************** */

.text1 {
  transition: color 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
/* ********************************** */

.text2 {
  font-size: 14px;
  font-weight: 400;
  color: #d6ddf5;
}
.text2Selected {
  color: #fff;
}
